body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  background: #f8f4e3;
background: radial-gradient(circle, rgb(251, 248, 236) 0%, rgb(246, 237, 212) 30%, rgba(247, 243, 218, 1) 50%, rgb(242, 241, 218) 78%);
}

header {
  background-color: #2f4c2a;
  padding: 40px 60px;
  border-radius: 0 0 60px 60px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  position: relative;
  box-shadow: 0 6px 0 rgba(0,0,0,0.3);
  height: 220px;
}

header h1 {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #D4FF00;
  line-height: 0.4;
  font-size: 50px;
}

.fa-sun {
    animation: spin 15s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header h1:first-of-type {
  grid-column: 1;
}

header h1:last-of-type {
  grid-column: 1;
}

.orange-circle {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #d25a2b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header p {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 0.9rem;
  background-color: #CF5A2C;
  color: #2B2B2B;
  padding: 6px 16px;
  border-radius: 50px;
  text-align: center;
  justify-self: end;
  font-weight: 500;
}

header p:first-of-type {
  grid-column: 3;
}

header p:last-of-type {
  grid-column: 3;
}

#bottom-tag {
    margin-bottom: 40px;
}

.projects {
    justify-content: center;
    text-align: center;
    font-family:'Outfit', sans-serif;
    color: #CF5A2C;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 40px;
}

h2 {
    font-family: 'figtree';
    padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: auto;
  max-width: 1200px;
  position: relative;
  perspective: 1000px;
  height: 300px;
  aspect-ratio: 2 / 3;
  position: relative;
  perspective: 1000px; 
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 40px;
    gap: 20px;
}

.container:hover .front{
  transform: rotateY(180deg);
}

.container:hover .back {
  transform: rotateY(360deg);
}

.back, .front {
backface-visibility: hidden;
border-radius: 10px;
transition: 1s;
position: absolute;
width: 100%;
height: 300px;
}

.front{
    display: flex;
    transform: rotateY(0deg);
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  align-items: flex-end;
  color: rgb(244, 243, 224);
}

.back {
display: flex;
transform: rotateY(180deg);
background-color: #2f4c2a;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  border: 4px solid #D4FF00;
}

.card-one .front {
  background-image: url("images/card-one.jpg");
}

.card-two .front {
  background-image: url("images/card-two.jpg");
}

.card-three .front {
  background-image: url("images/card-three.jpg");
}

.card-four .front {
  background-image: url("images/card-four.jpg");
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.links a {
    color:  #D4FF00;
    text-decoration: none;
}

.links a:hover {
    color: #b14a22;
}


footer{
justify-content: center;
text-align: center;
line-height: 8px;
font-family: 'Figtree', sans-serif;
margin: 0;
padding-top: 0px;
}



