/* Sketches and Comps */

#sketches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  max-width: 1000px;
  margin: 3rem auto;
  height:100%;
}

.top .bottom {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side {
  grid-column: 2;
  grid-row: 1 / span 2;
}


/* MadLibs */

#card {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#official{
background-image:url("images/wood_background.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 100vh;
}

#postcard{
  border-radius: 5px;
}

#card {
  width: 800px;
  height: 477px;
  margin: 3rem auto;
  position: relative;

  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card:focus-within {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  background-image:url("images/paper.jpg");
}

.front {
  background: white;
}

.back {
  transform: rotateY(180deg);
  background-color: #F2EBE1;
}

#instructions {
  justify-content: center;
  text-align: center;
}

.back form {
  display: grid;
  grid-template-columns: 140px 220px;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-family: 'Figtree', sans-serif;
}

.back input {
  border-radius: 5px;
}

p {
  font-size: 3rem;
  font-family: 'Outfit', sans-serif;
  color:rgb(255, 255, 255);
  letter-spacing: -0.05em;
  font-weight: 500;
}

h1 {
  font-family: 'Outfit', sans-serif;
  color:#D4FF00;
  letter-spacing: -0.1em;
  font-weight: 800;
  font-size: 80px;
  margin-left: 40px;
  margin-top: 20px;
}

#send-form {
  display: block;
  flex: space-around;
  background-color:rgb(130, 173, 196);
  color:rgb(255, 255, 255);
  font-weight:500;
}

.back input[type="submit"] {
  grid-column: 1 / -1;   
  justify-self: end;    
}

#send-form:hover {
    background-color: #b2e123;
}
