body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  max-width: 1000px;
  margin: 3rem auto;
  height:100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side {
  grid-column: 2;
  grid-row: 1 / span 2;
}