body {
    background-color: rgb(255, 255, 255);
}

h1{
  display:flex;
  justify-content: center;
  font-family: 'Indie Flower', san-serif;
  margin-top: 2em;
  font-size: 3em;
}
#worldmap {
    display: block;  
    width: 100%;    
    height: auto;
}

.map-container {
    position: relative;
    width: 960px;   
    margin: 0 auto;
    height: auto;   
}

.pulse {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(1, 206, 199);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.pulse::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 216, 209);
    border-radius: 50%;
    animation: pulse 1s infinite;
    content: ""; 
   
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 0.8; }
    100% { transform: scale(3); opacity: 0; }
}




.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  position: relative;
  animation: popIn 0.3s ease;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

@keyframes popIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}




.map-container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    overflow: hidden; /* prevents zoom overflow */
}

/* Create a zoom layer effect */
.map-container.zoomed #worldmap,
.map-container.zoomed .pulse {
    transition: transform 0.6s ease;
}