body{
    
    margin: 0;
    padding: 0;
    height: 750px;
    overflow: hidden;
    background-image: url("images/meadow.jpg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
}

#settings{
    display:flex;
    font-size: 20px;
    gap: 24px;
    margin-left: 20px;
}

#quit{
    font-family: 'Outfit', sans-serif;
    border-radius: 30px;
}

.fas{
    font-size:26px;
}

h1{
    font-family: "Outfit", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Outfit", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#photo-gallery{
    display: flex;            
    justify-content: center;    
    align-items: center;        
    gap: 20px; 
}

img {
    border: 5px solid transparent;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
}

#photo-gallery img.hover-enabled:hover {
    border: 5px solid red;
    border-radius: 10px;
}


#photo-gallery img {
    transition: transform 0.7s ease-in, opacity 0.5s ease-in;
    cursor: pointer;
}

.drop {
    transform: translateY(100vh);
}

#start{
    position: absolute;
    bottom: 90px;       
    left: 50%;          
    transform: translateX(-50%);
    padding: 10px 50px;
    font-family: 'Outfit', sans-serif;
    border-radius: 50px;
}

#start:not(:disabled):hover {
    background-color: lightseagreen;
    color: whitesmoke;
    font-weight: 500;
}

.hidden {
    display: none;
}

#player1,
#player2 {
    height: 300px;
    width: 215px;
}

#arena{
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 600px;  
}
 
#versus{
  
    font-family: 'Rubik Glitch', sans-serif;
    color: rgb(187, 33, 33);
    font-size: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructions {
    position: absolute;
    bottom: 150px;       
    left: 50%;          
    transform: translateX(-50%);
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    margin: 0px;
    color:aliceblue;
}

#playerText {
    color: red;
}


/*Health*/
.health {
    display: flex;
    align-items: center;
    gap: 15px;
}

#healthbar0, #healthbar1 {
    width: 75%;
    height: 30px;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;    
    border-radius: 50px;
}

#healthbar1 div{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgb(227, 25, 2) 0%, rgb(253, 149, 144) 50%, rgb(227, 25, 2) 100%); 
    border-radius: 50px;
}

#healthbar0 div{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgb(0, 89, 178) 0%, rgb(77, 196, 251) 50%, rgb(0, 89, 178) 100%); 
}

#monsterhealth0 {

font-family: 'Outfit', sans-serif;
color:rgb(3, 117, 217);
font-size: 20px;
font-weight: 800;
}

#monsterhealth1 {

font-family: 'Outfit', sans-serif;
color:rgb(221, 22, 8);
font-size: 20px;
font-weight: 800;
}