body {
  font-family: "Figtree", sans-serif;
  color: #1f1f1f;
  background-color: #ffffff;
  line-height: 1.6;
}

header {
  position: relative;
  text-align: left;
}

header img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

header h1 {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
}

header p {
  display: inline-block;
  margin-left: 2rem;
  padding: 10px 14px;
  background-color: #b14a22;
  color: white;
  gap:10px;
  border-radius: 30px;
}


header p:last-of-type {
  margin-bottom: 3rem;
}

time{
  color:#b14a22;
  font-weight: 700;
}

.card {
  position: relative;
  max-width: 760px;
  margin: 4rem auto;
  background-color: #dcd7d0;
  border-radius: 50px;
  padding: 4rem 3rem 3rem; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.);
}

.card h2 {
  position: absolute;
  top: -3rem;
  left: 3rem;
  background-color: #ffffff;
  padding: 1.2rem 1.2rem 0.5rem 1.2rem;
  border-radius: 25px;
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #2c2c2c;
}

.card p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color:#3c3c3c;
}

.card a {
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #2a6f97;
  text-decoration: none;
  font-weight: 500;
}

article a:hover {
  text-decoration: underline;
}

